In [4]:
class Test:
    def fun(self):
        print('hi there')
        
        
        
obj=Test()
obj.fun()

hi there

In [5]:
first='hi'
type(first)

str

In [8]:
second=23.324
type(second)

float

In [10]:
third=23.34444444324423423
type(third)

float

In [11]:
c=1+2j
type(c)

complex

In [13]:
a,b,c=map(int,input().split())
print(a,b,c)

213 34 43
213 34 43

In [17]:
l1=list(map(int,input().split()))
l1

32 4 5 3 34 23

[32, 4, 5, 3, 34, 23]

In [18]:
l1[1]

4

In [19]:
l1[2]

5

In [20]:
for i in l1:
    print(i)

32
4
5
3
34
23

In [21]:
for i in l1:
    print(i,end=' ')

32 4 5 3 34 23

In [22]:
for i in l1:
    print(i,sep='')

32
4
5
3
34
23

In [24]:
a,b,c=map(int,input().split())
s=(a+b+c)/2
area=pow(s*(s-a)*(s-b)*(s-c),1/2)
area

18 24 30

216.0

In [25]:
values=[1,2,3,4,5,6]
values[1]=7
values

[1, 7, 3, 4, 5, 6]

In [26]:
values.insert(1,'abc')

In [27]:
values

[1, 'abc', 7, 3, 4, 5, 6]

In [28]:
goals=[9,8,7,6,5,4,3]
values.extend(goals)

In [29]:
values

[1, 'abc', 7, 3, 4, 5, 6, 9, 8, 7, 6, 5, 4, 3]

In [31]:
values.count(1)

1

In [33]:
values.index(7)

2

---


# This is all about python

---

In [52]:
values[::-1]

[12, 14, 36, 18, 10, 20]

In [53]:
values

[20, 10, 18, 36, 14, 12]

# Standard deviation


1. mean = sum(values)/number of elements
2. subtract mean from each data point (mean-i)

In [48]:
values=list(map(int,input().split()))

mean=sum(values)/len(values)
total=0
print(mean)
for i in values:
    total+=pow((i-mean),2)
    
print(total)
print(pow((total/5),1/2))

20 10 18 36 14 12
18.333333333333332
443.3333333333333
9.416297927883688

In [57]:
one=[[1,2],[2,3]]
two=[[3,2],[1,1]]
for i in one:
    for k in i:
        print(k)

1
2
2
3

In [2]:
n=0
while(n<10):
    print(n)
    n+=1
    
else:
    print('wow',n);

0
1
2
3
4
5
6
7
8
9
wow 10

In [3]:
for i in range(5):
    print(i)
    
else:
    print("In else part")
    print(i)

0
1
2
3
4
In else part
4

In [ ]:
i=[1.2,2,1,2,2]

In [6]:
class Test:
    def __init__(self,limit):
        self.limit=limit
        
        
    def __iter__(self):
        self.x=10
        return self
    
    
    def next(self):
        x=self.x
        
        if x>self.limit:
            raise StopIteration
            
        self.x=x+1;
        return x
    
    
for i in Test(15):
    print(i)

TypeError: iter() returned non-iterator of type 'Test'

In [8]:
values=('1',2,3)

check=iter(values)

print(next(check))
print(next(check))
print(next(check))

1
2
3

In [10]:
class Numbers:
    def __iter__(self):
        self.a=1
        return self
    
    
    def __next__(self):
        x=self.a
        self.a+=1
        return x
    
    
obj=Numbers()
iterator=iter(obj)
print(next(iterator))
print(next(iterator))

1
2

In [11]:
a=lambda i:i+1
print(a(4))

5

In [15]:
cube=lambda i:i*i*i
cube(10)

1000

In [20]:
addition=lambda one,two:one+two
addition(18,12)

30

In [22]:
product=lambda a,b,c:a*b*c
product(1,2,3)

6

In [27]:
def ui(u):
    return lambda u:u*n

check=ui(2)
print(mydoubler(11))

NameError: name 'mydoubler' is not defined

1. Write a python script to generate list of all palindrome numbers from 1 to 100.
2. Write a python script to create a list of n values, take one value from user which will be replaced
   another in the list.

In [29]:
def palindrome(number):
    remainder=0
    reverse=0
    temp=number 
    while(number!=0):
        remainder=number%10
        reverse=reverse*10+remainder
        number=number//10
        
    if(temp==reverse):
        return True
    else:
        return False
    

    
print(palindrome(121))

True

In [36]:
answer=[]
for i in range(1,101):
    if palindrome(i):
        answer.append(i)

In [38]:
for i in answer:
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99

---

1. Write a python script to create a list of n values, take one value from user which will be replaced another in the list.


---

Enter the number of elements that you want to enter in list3
Enter the value1
Enter the value2
Enter the value3
1
2
3
Enter the element that you want to replace2
Enter the new value that you want to replace above withhi
hi
2
3

In [4]:
def index(list,digit):
    for i in range(len(list)):
        if digit==list[i]:
            return i
    return -1

In [6]:
n=int(input("Enter the number of elements that you want to enter in list"))
values=[]

for i in range(n):
    element=input("Enter the value")
    values.append(element)
    
for i in values:
    print(i)
    
    
    
m=input("Enter the element that you want to replace")

if m in values:
    index=m
    nova=input("Enter the element")
    values.append()

for i in values:
    print(i)

Enter the number of elements that you want to enter in list2
Enter the value1
Enter the value2
1
2
Enter the element that you want to replace1
Enter the new value[1,2,3,4,5]
[1,2,3,4,5]
2

In [8]:
for i in range(48,58):
    print(chr(i))

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(1,300):
    print(chr(i))


































!
"
#
$
%
&
'
(
)
*
+
,
-
.
/
0
1
2
3
4
5
6
7
8
9
:
;
<
=
>
?
@
A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z
[
\
]
^
_
`
a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z
{
|
}
~


































¡
¢
£
¤
¥
¦
§
¨
©
ª
«
¬
­
®
¯
°
±
²
³
´
µ
¶
·
¸
¹
º
»
¼
½
¾
¿
À
Á
Â
Ã
Ä
Å
Æ
Ç
È
É
Ê
Ë
Ì
Í
Î
Ï
Ð
Ñ
Ò
Ó
Ô
Õ
Ö
×
Ø
Ù
Ú
Û
Ü
Ý
Þ
ß
à
á
â
ã
ä
å
æ
ç
è
é
ê
ë
ì
í
î
ï
ð
ñ
ò
ó
ô
õ
ö
÷
ø
ù
ú
û
ü
ý
þ
ÿ
Ā
ā
Ă
ă
Ą
ą
Ć
ć
Ĉ
ĉ
Ċ
ċ
Č
č
Ď
ď
Đ
đ
Ē
ē
Ĕ
ĕ
Ė
ė
Ę
ę
Ě
ě
Ĝ
ĝ
Ğ
ğ
Ġ
ġ
Ģ
ģ
Ĥ
ĥ
Ħ
ħ
Ĩ
ĩ
Ī
ī